
[data-theme="light"] {
    --primary-color: #343541;
    --secondary-color: #10A37F;
    --text-color-primary: #fff;
    --text-color-secondary: #8E8EA0;
  }

[data-theme="dark"] {
  --primary-color: #343541;
  --secondary-color: #10A37F;
  --text-color-primary: #fff;
  --text-color-secondary: #8E8EA0;
}