<div
  class="bg-primary h-full w-full flex flex-column justify-content-center align-items-center"
>
  <div
    class="flex flex-column justify-content-center align-items-center"
    style="flex: 1"
  >
    <div
      class="flex flex-row bg-white relative border-circle justify-content-center align-items-center"
      style="width: 50px; height: 50px"
    >
      <img src="assets/images/openainlogo-black.svg" width="35" height="35" />
    </div>

    <h2 class="text-white">How can I help you today?</h2>
  </div>

  <div class="w-full">
    <div class="w-ful flex flex-row justify-content-center mb-3">
      <div class="flex flex-column w-7 gap-2">
        <div class="flex flex-row gap-2">
          <div
            class="border-round-xl w-6"
            style="border: 1px solid rgba(217, 217, 227, 0.2); height: 60px"
          >
            <div class="flex flex-column py-2 px-3">
              <label class="text-white">Explain superconductors</label>
              <label class="mt-1" style="color: #91909a;">like I'm five years old</label>
            </div>
          </div>

          <div
            class="border-round-xl w-6"
            style="border: 1px solid rgba(217, 217, 227, 0.2); height: 60px"
          >
            <div class="flex flex-column py-2 px-3">
              <label class="text-white">Explain superconductors</label>
              <label class="mt-1" style="color: #91909a;">like I'm five years old</label>
            </div>
          </div>
        </div>

        <div class="flex flex-row gap-2">
          <div
            class="border-round-xl w-6"
            style="border: 1px solid rgba(217, 217, 227, 0.2); height: 60px"
          >
            <div class="flex flex-column py-2 px-3">
              <label class="text-white">Explain superconductors</label>
              <label class="mt-1" style="color: #91909a;">like I'm five years old</label>
            </div>
          </div>

          <div
            class="border-round-xl w-6"
            style="border: 1px solid rgba(217, 217, 227, 0.2); height: 60px"
          >
            <div class="flex flex-column py-2 px-3">
              <label class="text-white">Explain superconductors</label>
              <label class="mt-1" style="color: #91909a;">like I'm five years old</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-chat-input></app-chat-input>
  </div>

  <div class="text-center my-3">
    <label class="text-white font-light text-sm"
      >ChatGPT can make mistakes. Consider checking important
      information.</label
    >
  </div>
</div>
