<div class="h-full flex flex-row">
  <div class="h-full" style="background-color: rgb(0, 0, 0, 1); width: 260px;" >
    <div class="pl-3 py-3">
      <div class="flex flex-row align-items-center justify-content-between mx-3">
        <div class="flex flex-row align-items-center">
          <div
            class="flex flex-row bg-white relative border-circle justify-content-center align-items-center"
            style="width: 30px; height: 30px"
          >
            <img
              src="assets/images/openainlogo-black.svg"
              width="20"
              height="20"
            />
          </div>

          <label class="text-white ml-2">New chat</label>
        </div>
        <!-- <mat-icon style="color: white; font-size: 20px">edit</mat-icon> -->
        <img
              src="assets/images/write-icon.svg"
              width="15"
              height="15"
            />
      </div>

      <div style="height: 70vh; overflow: auto" class="mt-5 ml-2">
        <app-messages-history></app-messages-history>
      </div>

      <div class="mt-2" style="height: 10vh;">
        <div
          class="flex flex-row justify-content-between ml-2 mr-4 align-items-center"
        >
          <mat-icon style="color: white; font-size: 20px">edit</mat-icon>

          <div class="flex flex-column">
            <div>
              <label class="text-white text-sm font-semibold"
                >Upgrade plan</label
              >
            </div>
            <div>
              <label class="text-white text-xs"
                >Get GPT-4, DALL-E, and more</label
              >
            </div>
          </div>
        </div>

        <div class="mt-3 flex flex-row align-items-center mx-3">
          <div
            class="flex flex-row border-circle justify-content-center align-items-center"
            style="background-color: #c03b2a; height: 30px; width: 30px"
          >
            <label class="text-white">LU</label>
          </div>

          <label class="text-white ml-2">Luis Villalobos</label>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary flex flex-row align-items-center" style="width: 40px;">
    
    <div class="ml-2">
        <label>test</label>
    </div>

  </div>
</div>
