/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Söhne";
  src: url(assets/fonts/TestSöhne-Buch.otf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Söhne";
}

.text-color-primary {
    color: var(--text-color-primary);
}

.primary-color {
    background-color: var(--primary-color)
}

.text-color-secondary {
  color: var(--text-color-secondary);
}